<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Welcome to the Dice Roll Game</h1>

<div>
    <h2>Guess the Dice roll</h2>
</div>

<a class="btn btn-primary btn-group-lg" href="/roll-dice/1" role="group">1</a>
<a class="btn btn-success btn-group-lg" href="/roll-dice/2" role="group">2</a>
<a class="btn btn-info btn-group-lg" href="/roll-dice/3" role="group">3</a><br/>
<a class="btn btn-warning btn-group-lg" href="/roll-dice/4" role="group">4</a>
<a class="btn btn-danger btn-group-lg" href="/roll-dice/5" role="group">5</a>
<a class="btn btn-info btn-group-lg" href="/roll-dice/6" role="group">6</a>

<div>
    <h2>Dice Roll is....</h2>
    <p>
    <h4><span th:text="${roll}"></span></h4>
    </p>
    <h2>Your guess is....</h2>
    <p>
    <h4><span th:text="${guess}"></span></h4>
    </p>
</div>
<div>
    <p th:if="${correctGuess == true}">
    <h1 class="correct">You guessed it!!</h1>
    </p>
    <p th:if="${correctGuess == false}">
    <h1 class="tryagain">Try again!!</h1>
    </p>
</div>

</body>
</html>